<h1>Cadastre-se como um novo Usuário</h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>

<% form_for :user, :url => users_path, :html => { :multipart => true } do |f| -%>

<p><%= f.label :name, 'Nome' %><br/>
<%= f.text_field :name %></p>

<p><%= f.label :email, 'E-mail' %><br/>
<%= f.text_field :email %></p>

<p><%= f.label :login, 'Login' %><br/>
<%= f.text_field :login %></p>

<p><%= f.label :password, 'Senha' %><br/>
<%= f.password_field :password %></p>

<p><%= f.label :password_confirmation, 'Confirmação da Senha' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= f.label :photo, 'Foto' %><br/>
<%= f.file_field :photo %></p>

<p><%= submit_tag 'Cadastrar' %> ou <%= link_to "Cancelar", login_path %></p>
<% end -%>
