<h2>Criar novo projeto</h2>

<div id="projectForm" class="regForm">
  <% form_for(@project) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, :class => "input" %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description, :class => "input", :cols => 60, :rows => 3 %>
    </p>
    <p>
      <%= f.check_box :private %><label for="project_private">Este projeto deve ser privado. Apenas membros convidados poderão adicionar tarefas ou comentários ao projeto.</label>
    </p>
    <p class="finish">
      <%= f.submit "Salvar" %> ou <%= link_to "Cancelar", projects_path %>
    </p>
  <% end %>
</div>
