<h2><%=h @project.name %></h2>
<p class="description"><%= show_status(@project.private) %> <%=h @project.description %></p>
<p class="list"><%= link_to 'Listar tarefas', project_tasks_path(@project) %></p>
<p class="create"><%= link_to 'Adicionar nova tarefa', new_project_task_path(@project) %></p>
